<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <File  name="FileAppender" fileName="logs/DoctorPresenter.log" append="true">
      <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="FileAppender"/>
    </Root>
  </Loggers>
</Configuration>