<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:noNamespaceSchemaLocation="log4j2.xsd" status="WARN">
  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable"/>
    </Console>
    
    <File name="MainFileAppender" fileName="target/logs/App.log" append="true">
      <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable"/>
    </File>
    
    <File name="DoctorFileAppender" fileName="target/logs/DoctorPresenter.log" append="true">
      <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable"/>
    </File>
    
    <File name="DepartmentFileAppender" fileName="target/logs/DepartmentPresenter.log" append="true">
      <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable"/>
    </File>
    
    <File name="ShiftFileAppender" fileName="target/logs/ShiftPresenter.log" append="true">
      <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable"/>
    </File>
  </Appenders>
  <Loggers>
    <Logger name="org.duckdns.whocaresleft.app.swing.SwingHospitalApp" level="INFO" additivity="false">
      <AppenderRef ref="ConsoleAppender"/>
      <AppenderRef ref="MainFileAppender"/>
    </Logger>
    
    <Logger name="org.duckdns.whocaresleft.presenter.DoctorPresenter" level="INFO" additivity="false">
      <AppenderRef ref="DoctorFileAppender"/>
    </Logger>
    
    <Logger name="org.duckdns.whocaresleft.presenter.DepartmentPresenter" level="INFO" additivity="false">
      <AppenderRef ref="DepartmentFileAppender"/>
    </Logger>
    
    <Logger name="org.duckdns.whocaresleft.presenter.ShiftPresenter" level="INFO" additivity="false">
      <AppenderRef ref="ShiftFileAppender"/>
    </Logger>
    <Root level="WARN">
      <AppenderRef ref="ConsoleAppender"/>
      <AppenderRef ref="MainFileAppender"/>
    </Root>
  </Loggers>
</Configuration>